* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    list-style: none;
  }
}
