* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
  ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 35%;
    list-style: none;
  }
}

/*  ---------------------------------------------------------*/

.baner {
  img {
    width: 100%;
  }
}

/*------------------------------------*/

.projects {
  //border: 1px solid red;
  h1 {
    border-bottom: 1px solid rgb(204, 193, 193);
    margin-bottom: 1%;
    padding-bottom: 1%;
  }

  .images {
    //border: 1px solid blue;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  img {
    width: 23%;
    margin-bottom: 2%;
  }
}

/*------------------*/
.about {
  padding: 2%;
  //border: 1px red solid;
  h1 {
    border-bottom: 1px solid rgb(223, 223, 223);
    margin: 3% 0;
    padding: 2% 0;
  }
  .cards {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2%;
    span {
      width: 24%;
      display: flex;
      flex-direction: column;
      line-height: 1.5;
      img {
        width: 100%;
      }
      h2 {
        font-size: 1rem;
      }
      h3 {
        font-size: 1.1rem;
      }
      p {
        font-size: 0.9rem;
      }
      button {
        border: none;
        background-color: rgb(230, 230, 230);
        padding: 3%;
        margin-top: 3%;
      }
    }
  }
}

.form {
  width: 100%;
  h2 {
    border-bottom: 1px solid rgb(230, 230, 230);
    margin-bottom: 1%;
    margin-left: 2%;
  }
  p {
    padding: 0.5%;
    margin-left: 1.5%;
  }
  form {
    // border: 1px solid red;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    input {
      //border: 1px solid yellow;
      width: 100%;
      padding: 1.5%;
      font-size: 0.7rem;
      margin-bottom: 1%;
    }
  }
  button {
    background-color: black;
    color: white;
    padding: 0.5%;
    margin-top: 3%;
    margin-left: 2%;
    margin-bottom: 5%;
  }
}
